/* Общие стили для всех страниц */
body {
    background-color: rgb(245, 245, 245); /* Светло-серый цвет фона, измените по желанию */
    font-family: Arial, sans-serif; /* Шрифт для всего текста на странице */
}

/* Стили для заголовков */
h2, h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

/* Стили меню */
nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

nav ul li {
    display: inline; /* Элементы списка рядом друг с другом */
    margin-right: 10px;
}

nav ul li a {
    color: rgb(0, 123, 255); /* Синий цвет ссылок, измените по желанию */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* Убираем подчеркивание текста */
}

/* Стили для страницы товара каталога */
.article-description {
    color: rgb(120, 144, 156); /* Цвет текста серо-голубой, измените по желанию */
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.article-detail {
    color: rgb(33, 33, 33); /* Темно-серый цвет текста, измените по желанию */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

ul.features {
    list-style-image: url('path_to_image.png'); /* Путь к изображению маркера, измените по желанию */
    margin: 0;
    padding-left: 20px; /* Отступ слева для выравнивания текста под изображением маркера */
}

/* Стили для подвала */
footer {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

